<div class="ebf-container">
  <nav class="ebf-nav mat-elevation-z6">
    <a class="mat-button" routerlink="/">
      <span class="mat-button-wrapper">
        <img alt="" src="assets/logo_white.png" class="ebf-logo-button">
        <span>EvidenceBasedFeeding</span>
      </span>
    </a>
  </nav>

  <div style="display:flex;justify-content:center;">
    <div style="flex-basis:50%;margin-top:2rem;">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>
            <span class="mat-display-1">Breastfeeding, Formula Feeding, and Supplementing - Evidence Based Support</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="mat-body">
            EvidenceBasedFeeding.info is a companion website for the Facebook group
            <b>Breastfeeding, Formula Feeding, and Supplementing - Evidence Based Support</b>
            and was created as a convenient way to answer commonly asked questions in a manner that was easy to read.
            In keeping with
            our evidence-based ethos this content includes links to primary sources so that readers can be fully
            informed.
          </p>
          <a mat-raised-button color="primary" target="_blank" href="https://www.facebook.com/groups/evidencebasedfeeding/">
            <!--a class="btn btn-primary btn-lg" role="button">
              <i class="fa fa-facebook-official" aria-hidden="true"></i> &nbsp; Official Facebook Page &raquo;</a-->
            <span class="mat-body"><i class="fab fa-facebook"></i> &nbsp; Official Facebook Page &raquo;</span>
          </a>
        </mat-card-content>
      </mat-card>

      <!--div class="container">
        <div id="pageList" class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">S
                <h5 class="card-title">
                  <a class="pageLink" href="#formula_types">Introduction to US Formula Preparations and Types</a>
                </h5>
                <p class="card-text">An overview of the different infant formula preparations and types available in the United States of America.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a class="pageLink" href="#preparing_formula">Preparing Powdered Infant Formula in the US</a>
                </h5>
                <p class="card-text">Simple instructions for preparing powdered infant formula in the United States of America.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <a class="pageLink" href="#galactogogues">Where We Stand and Why: Galactogogues</a>
                </h5>
                <p class="card-text">
                  Galactogogues are foods, supplements, and medications that are thought to increase milk supply.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>
